<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link href="/static/css/tailwind.css" rel="stylesheet" />
    <script src="/static/js/htmx.min.js"></script>
  </head>
  <body class="bg-purple-100">
    <div class="row">
      <div class="col">
        <h2>Tasks</h2>

        <div>
          <a href="#" hx-get="/newtaskform" hx-target="#addTaskForm"
            >Add New Item</a
          >
        </div>

        <div
          id="taskList"
          hx-get="/tasks"
          hx-trigger="load"
          hx-swap="innerHTML"
        ></div>
      </div>
      <!-- <div class="col">
          
      </div> -->
      <div class="col">
        <h2>Add New Task</h2>

        <div id="addTaskForm">{{template "addTaskForm"}}</div>
      </div>
    </div>
  </body>
</html>
